.size{
    background-color: #555;
    font-size: 100%;
}

@media (max-width:1200px) {
    .size{
        font-size: 90%;
    }
}
@media (max-width:800px) {
    .size{
        font-size: 80%;
    }
}
@media (max-width:400px) {
    .size{
        font-size: 70%;
    }
}