.button{
    padding: 10px 20px ;
    width: max-content;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0.1px 1px rgb(233, 233, 22);
    background-color: rgb(235, 82, 11);
    font-size: 16px;font-weight: bold;
    margin-right: 10px;
}

.notDisplay{
    display: none;
}