.container,.content{
    border: 2px solid #024;
    margin: 10px ;
    width: max-content;
    box-shadow: 0 0 3px 5px #678;
}

.item{
    padding: 15px 20px;
    width: max-content;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
}

.item:hover,.item:active{
    border-right: 0.1px solid #024;
    background-color: #234;
    color: #aaa;
    cursor: pointer;
}

.content{
    margin-top: 3px;
    padding: 10px;
    width: 90%;
    color: #555;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
}
.ul{
    list-style: none;
}
.li{
    margin: 15px auto;
    width: 100%;
    line-height: 20px;
}