
*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  /* background-color: #242a28; */
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  font-size: 100%;
}


.container{
  border-radius: 10px;
  text-align: center;
  width: 95%;
  min-height: 100vh;
  box-shadow:  0 0 1px 0.0005px #456;
  margin: 3px auto;
  color: #e1eeeb;
  background-color: #241c1c;
}

@media (max-width:1700px){
  .container{
      font-size: 100%;
  }
}
@media (max-width:1400px){
  .container{
      font-size: 90%;
  }
}
@media (max-width:1100px){
  .container{
      font-size: 80%;
  }
}
@media (max-width:800px){
  .container{
      font-size: 70%;
  }
}
@media (max-width:500px){
  .container{
      font-size: 65%;
  }
}
@media (max-width:200px){
  .container{
      font-size: 50%;
  }
}
.content{
  display: flex;
  gap: 10px;
  
}
.children{
  width: 100%;
}
