
*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  /* background-color: #242a28; */
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
}


.container{
  display: flex;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  width: 95%;
  min-height: 100vh;
  box-shadow:  0 0 1px 0.0005px #456;
  margin: 3px auto;
  color: #e1eeeb;
  background-color: #241c1c;
}