.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.code{
    box-shadow: 0 0 5px 10px #fff;
    padding: 20px;
    margin: 20px auto;
}






.show{
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    min-height: 110vh;
    background-color: #71807e;
    color: #000000;
}