.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    min-width: 100%;
    margin: 10px auto;
    background-color: #777;
}
.logo{
    width: 200px;
    height: 90px;
    background: url('../../../public/nr.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.logo,.container{
    box-shadow: 0 0 3px 2px #eee;
}