.container{
    box-shadow: 0 0 0.5px 1px #444;
    width: 99%;
    height: max-content;
    margin: 10px auto;
    background-color: #eee3e3;
    border-radius: 3px;
    color: #444;
    padding: 0 0 20px 0;
}