.container{
    background-color: #101010;
    min-height: max-content;
    margin: auto;
    width: 78%;
    max-width: 78%;
    border: 0.1px solid #fff;
}

.content{
    display: flex;
    gap: 10px;
}